* {
    box-sizing:  border-box;
    margin:  0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display:  flex;
    flex-direction:  column;
    min-height: 100vh;
    /* background-color:  #212529; */
    background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    color:  #FFF;
}

header {
    padding:  2rem 1rem;
    max-width:  800px;
    width:  100%;
    margin:  0 auto;
}

header h1 {
    font-size:  2.5rem;
    font-weight:  400;
    color:  #d8f3dc;
    margin-bottom:  1rem;
    border: 2px solid;
    border-color: #d8f3dc;
    border-radius: 1rem; 
    text-align: center;
    background-color: #051923;
    box-shadow: 0px 0.2px 8px 0px #fbf6f6;
}

#new-task-form {
    display:  flex;
}


#new-task-input {
    flex:  1 1 0%;
    background-color:  #051923;
    padding:  1rem;
    cursor: pointer;
    transition:  0.4s;
    border-radius:  1rem;
    margin-right:  1rem;
    color: #EEE;
    font-size:  1.4rem;
    border: 2px solid #d8f3dc;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.85);
    font-weight: 100;

}

#new-task-input:hover {
    box-shadow: 0px 2px 8px 0px #fbf6f6;
    transform: translateY(-1px);
}

#new-task-input::placeholder {
    color: #d8f3dc;
}

#new-task-submit {
    color: #d8f3dc;
    font-size:  1.25rem;
    font-weight:  700;
    cursor: pointer;
    transition:  0.4s;
    border: 2px solid #d8f3dc;
    border-radius: 1rem;
    background-color: #051923;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.85);
    }

#new-task-submit:hover {
    transform: translateY(-1px);
    box-shadow:  0px 2px 4px rgba(245, 242, 242, 0.5), 
              0px 4px 8px rgba(245, 242, 242, 0.5), 
               0px 8px 16px rgba(245, 242, 242, 0.5);
    }

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex:  1 1 0%;
    max-width:  800px;
    width:  100%;
    margin:  0 auto;
}

.task-list {
    padding:  1rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
}

.task-list h2 {font-size:  1.5rem;
    font-weight:  300;
    color:  #d8f3dc;
    margin-bottom:  1rem;
    border: 2px solid #d8f3dc;
    border-radius: 1rem;
    text-align: center;
    background: #051923;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.85);
}

#tasks .task {
    display:  flex;
    justify-content:  space-between;
    background-color:white;
    opacity: 0.9;
    padding:  1rem;
    border: 2px solid black;
    border-radius:  1rem;
    margin-bottom:  1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.85);
}

#tasks .task .content {
    flex:  1 1 0%;
}

#tasks .task .content .text {
    color: #111827;
    font-size:  1.20rem;
    width:  100%;
    display:  block;
    transition:  0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: #fee440;
}

#tasks .task .actions {
    display:  flex;
    margin:  0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin:  0 0.5rem;
    font-size:  1.125rem;
    font-weight:  700;
    text-transform: uppercase;
    transition:  0.4s;
}

.task .actions button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    color: #004b23;
    border: 2px solid black;
    border-radius:  1rem;
    box-shadow:  0px 2px 4px rgba(0,0,0,0.15), 
               0px 4px 8px rgba(0,0,0,0.15), 
               0px 8px 16px rgba(0,0,0,0.15);
}




.task .actions .delete {
    color: crimson;
    border: 2px solid black;
    border-radius:  1rem;
    box-shadow:  0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
               0px 8px 16px rgba(0,0,0,0.15);
}




